body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Gezira_logo.png);
    background-position: center;
    background-size: cover;
}

.container {
    background: lightgray;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #218838;
}

#amountValue {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}
